body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 12px;
  text-align: left;
}

.container {
  display: flex;
  height: 100vh;
}

.left {
  flex: 50%; /* 60% of container width */
  position: relative;
  overflow: hidden;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Ensure video is behind other content */
}

.left::before {
  content: "";
  background: rgba(21, 21, 22, 0.8); 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.left-content {
  position: absolute;
  top: 20%;
  left: 75%; /* Adjusted to center content */
  transform: translateX(-50%);
  text-align: center;
  font-size: 12px;
  color: #fff;
  z-index: 1; /* Place content above video */
}

.right {
  flex: 35%; 
  background: #151516;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #fff;
}

.login-container {
  padding: 20px;
  background-color: #151516;
  border-radius: 10px;
  text-align: center;
  width: 250px;
  height: auto;
  z-index: 2;
  top: 10%;
}

.login-logo {
  font-family: 'TT Tsars';
  font-size: 35px;
font-weight: 200;
  position: relative;
  margin-bottom: 20px; 
  text-align: center; 
}
.subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px; /* Space above the subtitle */
}
.subtitle-text {
  font-family: 'Josefin Sans', sans-serif; /* Font for the subtitle */
  font-size: 23px; /* Adjust size as needed */
  margin-left: 5px; /* Space between line and subtitle text */
font-weight: 200;
}
.line {
background-color: #5C5242; /* Set the line color */
display: inline-block;
width: 90px; /* Adjust width as needed */
height: 2px;
margin-right: 5px; /* Space between the solid line and the text */
}
.login-input {
  width: 80%;
  padding: 10px;
  color: #fff;
  background-color: #212122;
  margin: 10px 0;
  border: 1px solid #151516;
  border-radius: 5px;
}

.login-input::placeholder {
  color: #fff; 
}

.login-button {
  padding: 10px 20px;
  background-color: #5C5242;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.forgot-link {
  font-size: 14px;
  text-decoration: underline;
  color: #fff;
  cursor: pointer;
}

.disclaimer {
  font-size: 12px;
  text-align: center;
  color: #6d6d6e;
  padding: 10px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.social-media-section {
  text-align: center;
  margin-top: 20px; 
}

.social-media-icon {
  display: inline-block;
  margin: 0 10px; 
}

.overlay-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: ;
  text-align: center;
  padding: 10px 0;
}

.overlay-text {
  margin: 0;
  font-size: 12px;
  color: #6d6d6e;
  text-align: left;
  padding: 5px 40px; 
}

a {
  text-decoration: none;
  color: #6d6d6e;
}


.gold-text {
  color: #8F7C5C;
font-size: 20px;
font-family: Josefin Sans, sans-serif;
font-weight: 500;
}

.moved-up {
  margin-top: -10px;
}